.el-button {
    --el-button-font-weight: var(--el-font-weight-primary);
    --el-button-border-color: var(--el-border-color);
    --el-button-bg-color: var(--el-fill-color-blank);
    --el-button-text-color: var(--el-text-color-regular);
    --el-button-disabled-text-color: var(--el-disabled-text-color);
    --el-button-disabled-bg-color: var(--el-fill-color-blank);
    --el-button-disabled-border-color: var(--el-border-color-light);
    --el-button-hover-text-color: var(--el-color-primary);
    --el-button-hover-bg-color: var(--el-color-primary-light-9);
    --el-button-hover-border-color: var(--el-color-primary-light-7);
    --el-button-active-text-color: var(--el-button-hover-text-color);
    --el-button-active-border-color: var(--el-color-primary);
    --el-button-active-bg-color: var(--el-button-hover-bg-color);
    --el-button-outline-color: var(--el-color-primary-light-5);
    --el-button-active-color: var(--el-text-color-primary);
}

.el-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    height: 32px;
    white-space: nowrap;
    cursor: pointer;
    color: var(--el-button-text-color);
    text-align: center;
    box-sizing: border-box;
    outline: none;
    transition: 0.1s;
    font-weight: var(--el-button-font-weight);
    user-select: none;
    vertical-align: middle;
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--el-button-bg-color);
    border: var(--el-border);
    border-color: var(--el-button-border-color);
    padding: 8px 15px;
    font-size: var(--el-font-size-base);
    border-radius: var(--el-border-radius-base);
    margin-bottom: 12px;

    &+& {
        margin-left: 12px;
    }

    &:hover,
    &:focus {
        color: var(--el-button-hover-text-color);
        border-color: var(--el-button-hover-border-color);
        background-color: var(--el-button-hover-bg-color);
        outline: none;
    }

    &:active {
        color: var(--el-button-active-text-color);
        border-color: var(--el-button-active-border-color);
        background-color: var(--el-button-active-bg-color);
        outline: none;
    }

    &.is-plain {
        --el-button-hover-text-color: var(--el-color-primary);
        --el-button-hover-bg-color: var(--el-fill-color-blank);
        --el-button-hover-border-color: var(--el-color-primary);
    }

    /*round*/
    &.is-round {
        border-radius: var(--el-border-radius-round);
    }

    /*circle*/
    &.is-circle {
        border-radius: 50%;
        padding: 8px;
    }

    /*disabled*/
    &.is-disabled,
    &.is-disabled:hover,
    &.is-disabled:focus,
    &[disabled],
    &[disabled]:hover,
    &[disabled]:focus {
        color: var(--el-button-disabled-text-color);
        cursor: not-allowed;
        background-image: none;
        background-color: var(--el-button-disabled-bg-color);
        border-color: var(--el-button-disabled-border-color);
    }

    [class*='el-icon']+span {
        margin-left: 6px;
    }

}


@each $val in (primary, success, warning, info, danger) {
    .el-button--$(val) {
        --el-button-text-color: var(--el-color-white);
        --el-button-bg-color: var(--el-color-$(
                val)
        );
    --el-button-border-color: var(--el-color-$(
            val)
    );
--el-button-outline-color: var(--el-color-$(
        val)-light-5
);
--el-button-active-color: var(--el-color-$(
        val)-dark-2
);
--el-button-hover-text-color: var(--el-color-white);
--el-button-hover-bg-color: var(--el-color-$(
        val)-light-3
);
--el-button-hover-border-color: var(--el-color-$(
        val)-light-3
);
--el-button-active-bg-color: var(--el-color-$(
        val)-dark-2
);
--el-button-active-border-color: var(--el-color-$(
        val)-dark-2
);
--el-button-disabled-text-color: var(--el-color-white);
--el-button-disabled-bg-color: var(--el-color-$(
        val)-light-5
);
--el-button-disabled-border-color: var(--el-color-$(
        val)-light-5
);
}

.el-button--$(val).is-plain {
    --el-button-text-color: var(--el-color-$(
            val)
    );
--el-button-bg-color: var(--el-color-$(
        val)-light-9
);
--el-button-border-color: var(--el-color-$(
        val)-light-5
);
--el-button-hover-text-color: var(--el-color-white);
--el-button-hover-bg-color: var(--el-color-$(
        val)
);
--el-button-hover-border-color: var(--el-color-$(
        val)
);
--el-button-active-text-color: var(--el-color-white);
}
}

.el-button--large {
    --el-button-size: 40px;
    height: var(--el-button-size);
    padding: 12px 19px;
    font-size: var(--el-font-size-base);
    border-radius: var(--el-border-radius-base);
}

.el-button--small {
    --el-button-size: 24px;
    height: var(--el-button-size);
    padding: 5px 11px;
    font-size: 12px;
    border-radius: calc(var(--el-border-radius-base) - 1px);
}