.el-form {
    --el-form-label-font-size: var(--el-font-size-base);
    --el-form-content-font-size: var(--el-font-size-base);
}

.el-form-item {
    display: flex;
    margin-bottom: 18px;

    .el-form-item__label {
        width: 150px;
        height: 32px;
        line-height: 32px;
        padding: 0 12px 0 0;
        box-sizing: border-box;
        display: inline-flex;
        justify-content: flex-end;
        font-size: var(--el-form-label-font-size);
        color: var(--el-text-color-regular);
    }

    .el-form-item__content {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex: 1;
        line-height: 32px;
        font-size: var(--el-form-content-font-size);
        min-width: 0;
        position: relative;
    }

    .el-form-item__error-msg {
        position: absolute;
        top: 100%;
        left: 0;
        padding-top: 2px;
        color: var(--el-color-danger);
        font-size: 12px;
        line-height: 1;
    }
}

.el-form-item.is-error .el-input__wrapper {
    box-shadow: 0 0 0 1px var(--el-color-danger) inset;
}

.el-form-item.is-success .el-input__wrapper {
    box-shadow: 0 0 0 1px var(--el-color-success) inset;
}

.el-form-item.is-required>.el-form-item__label::before {
    content: '*';
    color: var(--el-color-danger);
    margin-right: 4px;
}