.el-message {
    --el-message-bg-color: var(--el-color-info-light-9);
    --el-message-border-color: var(--el-border-color-lighter);
    --el-message-padding: 15px 19px;
    --el-message-close-size: 16px;
    --el-message-close-icon-color: var(--el-text-color-placeholder);
    --el-message-close-hover-color: var(--el-text-color-secondary);
}

.el-message {
    width: fit-content;
    max-width: calc(100% - 32px);
    box-sizing: border-box;
    border-radius: var(--el-border-radius-base);
    border-width: var(--el-border-width);
    border-style: var(--el-border-style);
    border-color: var(--el-message-border-color);
    position: fixed;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
    background-color: var(--el-message-bg-color);
    padding: var(--el-message-padding);
    display: flex;
    align-items: center;
    transition:
        top var(--el-transition-duration),
        opacity var(--el-transition-duration),
        transform var(--el-transition-duration);

    .el-message__content {
        color: var(--el-message-text-color);
        overflow-wrap: anywhere;
    }

    &.is-close .el-message__content {
        padding-right: 30px;
    }

    .el-message__close {
        display: flex;
        align-items: center;
    }

    .el-message__close svg {
        cursor: pointer;
    }
}

@each $val in (info, success, warning, danger) {
    .el-message--$(val) {
        --el-message-bg-color: var(--el-color-$(
                val)-light-9
        );
    --el-message-border-color: var(--el-color-$(
            val)-light-8
    );
--el-message-text-color: var(--el-color-$(
        val)
);

.el-message__close {
    --el-icon-color: var(--el-color-$(
            val)
    );
}
}
}

.el-message.fade-up-enter-from,
.el-message.fade-up-leave-to {
    opacity: 0;
    transform: translate(-50%, -100%);
}